<!DOCTYPE html>
<html>
  <head>
    <title>Blogspot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head> 

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <%= link_to 'BlogSpot', root_path, class: 'navbar-brand' %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'All Articles', articles_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'New Article', new_article_path, class: 'nav-link' %>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li class='nav-item'>
              Welcome, <%= current_user.name %>
              <%= link_to 'Log Out', logout_path, method: :delete, class: 'nav-link' %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to 'Sign Up', signup_path, class: 'nav-link' %>
            </li>
            <li class='nav-item'>
              <%= link_to 'Log In', login_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
    <% if flash[:alert] %>
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" th:id="'toast-' + ${toastID}" data-delay="3000">
        <div class="toast-header">
          <strong class="mr-auto">Bootstrap</strong>
          <small class="text-muted">just now</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" th:onclick="'toastDismiss('+ ${toastID} + ')'">
           <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          <%= flash[:alert] %>
        </div>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" th:id="'toast-' + ${toastID}" data-delay="3000">
        <div class="toast-header">
          <strong class="mr-auto">Bootstrap</strong>
          <small class="text-muted">just now</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" th:onclick="'toastDismiss('+ ${toastID} + ')'">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          <%= flash[:notice] %>
        </div>
      </div>
    <% end %>
      <%= yield %>
    </div>
  </body> 
</html>
