<div class="text-center">
  <% if @article.image.attached? %>
    <%= image_tag(url_for(@article.image), class: "card-img-top", alt: "No image :(") %>
  <% else %>
    <%= image_tag(@article.image_url, class: "card-img-top", alt: "No image :(") %>
  <% end %>

<h3>
  <%= @article.title %>
</h3>
</div>

<h5>
<%= @article.topic %>
</h5>

<p>
  <%= @article.content %>
</p>

<div class="text-center">
  <%= link_to 'Edit', edit_article_path(@article), class: 'text-white btn btn-primary' %> |
  <%= link_to 'Back', articles_path, class: 'text-white btn btn-primary' %> |
  <%= link_to 'Download PDF', article_path(@article, format: :pdf), class: 'text-white btn btn-primary', target: "_blank" %>
</div>