<div class="text-center">
  <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Google_Photos_icon_%282020%29.svg/1200px-Google_Photos_icon_%282020%29.svg.png", class: "img-fluid", width: '50%', height: 'auto', alt: "No image :(") %>


<h3>
  <%= @article.title %>
</h3>
</div>

<h5>
<%= @article.topic %>
</h5>

<p>
  <%= @article.content %>
</p>

<div class="text-center">
  <%= link_to 'Edit', edit_article_path(@article), class: 'text-white btn btn-primary' %> |
  <%= link_to 'Back', articles_path, class: 'text-white btn btn-primary' %>
</div>