<%= form_with model: assignment do |form| %>
    <% if !assignment.valid? %>
      <div id="error_explanation">
        <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>
  
        <ul>
          <% assignment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
    <% if assignment.submission.attached? %>
      <%= assignment.submission.blob.filename %>
      <%= link_to 'Delete Submission', assignment_path, method: :delete %>
    <% else %>
      <%= form.label :submission, "Upload Assignment" %>
      <%= form.file_field :submission %>
    </div>
    <div class="actions">
        <%= form.submit %>
    </div>
    <% end %>

  <% end %> 
  